.icon-back-align {
   position: relative;
   top:-1px
}

.icon-modal-align {
   position: relative;
   top: 6px;
}

.unverified-users-number-style {
   border-left: 3px solid rgb(209, 105, 105);
   margin-right: 5px;
   padding-left: 10px;
   border-radius: 2px;
}

.users-number-style {
   border-left: 3px solid rgb(119, 119, 119);
   margin-right: 5px;
   padding-left: 10px;
   border-radius: 2px;
}

.users-badge-align {
   position: relative;
   top: 1px;
}

.badge-color {
   background-color: rgb(223, 223, 223);
}

.admin-page-body {
   background-color: var(--latte);
   min-height: 100vh;
   margin-bottom: 40px;
   padding-bottom: 40px;
}

.card-title-style {
   font-size: 18px;
}

.admin-color {
   background-color: var(--gold);
}

.manager-badge {
   background-color: rgb(67, 67, 207);
}

.disabled-user-icon {
   font-size: 22px;
   color: rgb(194, 12, 12);
}

.remove-error-icon {
   position: absolute;
   right: 5px;
   top: 5px;
   font-size: 20px;
}

.remove-error-icon:hover {
   cursor: pointer;
}