
.icon-modal-align {
   position: relative;
   top: 6px;
}

.default-style {
   margin-right: 5px;
   padding-left: 10px;
   border-radius: 2px;
}
.unverified-style {
   border-left: 3px solid rgb(202, 201, 201);
}

.worker-style {
   border-left: 3px solid rgb(119, 119, 119);
}

.manager-style {
   border-left: 3px solid rgb(86, 121, 18);
}

.admin-style {
   border-left: 3px solid var(--gold);
}

.users-badge-align {
   position: relative;
   top: 1px;
}

.admin-page-body {
   background-color: var(--latte);
   min-height: 100vh;
   margin-bottom: 40px;
   padding-bottom: 40px;
}

.card-title-style {
   font-size: 18px;
}

.admin-color {
   background-color: var(--gold);
}

.manager-badge {
   background-color: rgb(86, 121, 18);
}
