body {
   background-color: whitesmoke;
}

.icon-back-align {
   position: relative;
   top:-1px
}

.icon-modal-align {
   position: relative;
   top: 6px;
}

.users-number-style {
   border-left: 3px solid rgb(201, 98, 98);
   margin-right: 5px;
   padding-left: 10px;
   border-radius: 2px;
}
