.dropdown-menu a{
   color: var(--smoke);
}

.dropdown-menu-worker a:hover{
   background-color: var(--smoke) !important;
   color: var(--mate-black) !important;
}

.dropdown-menu-admin a:hover{
   background-color: var(--gold) !important;
   color: var(--mate-black) !important;
}

.icons-align {
   position: relative;
   bottom: 1px;
}

.main-icon-align {
   position: relative;
   bottom: 2px;
}