.dataDiv {
	position: relative;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	/* background-color: rgb(224, 224, 224); */
	padding: 15px;
	border: 2px solid black;
}

.dataSize {
	position: absolute;
	left: 50%;
	width: 100%;
	transform: translate(-50%);
	bottom: -15px;
	color: magenta;
	font-size: 10px;
	/* outline: 1px solid red; */
}
