
.main-icon-align {
 position: relative;
 bottom: 2px;
}

.cloud-icon-align {
 position: relative;
 bottom: 1px;
}

.home-page-body {
 background-color: var(--latte);
 min-height: 100vh;
 padding-bottom: 60px;
}

.latte-background {
 padding: 10px 15px;
 background-color: white;
 border-radius: 5px;
 cursor: pointer;
}

.data-folder {
 margin: 10px;
 cursor: pointer;
 padding: 0;
}

.data-folder .btn-primary {
 position: absolute !important;
 top: -75px !important;
 right: 13px !important;
 transform: translate(0,-50%) scale(1.2) !important;
 background-color: var(--latte) !important;
 border-radius: 50% !important;
 height: 25px !important;
 width: 20px !important;
 cursor: pointer !important;
 border-color: transparent !important;
 color: black !important;
 transition: 500ms !important;
}

.data-folder .files .btn-primary {
 top: -45px !important;
}

.data-folder .dots-icon {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(0.8);
}

.data-folder .dropdown-toggle::after {
 display: none !important;
}

.data-folder .custom-rounded {
 border-radius: 10px !important;
}

.data-folder .custom-file-rounded {
 border-radius: 30px !important;
}

.data-folder .is-private {
 display: flex;
 align-items: center;
}

.data-folder .hr-devider {
 position: relative;
 border-radius: 10px;
 background-color: white;
 opacity: 1;
 height: 4px;
 width: 100%;
}

.data-folder .bucket-hover {
 transition: 200ms;
}

.file-text-width {
 width: 80%;
}

.data-folder .bucket-hover:hover {
 background-color: whitesmoke !important;
}

.data-folder .bucket-hover:hover .btn-primary {
 border-radius: 30% !important;
 background-color: #c9c9c9 !important;
}

.data-folder .text-overflow {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.data-folder .cursor-pointer {
 cursor: pointer;
}

.breadcrumb-other {
 color: rgb(156, 156, 156) !important;
}

.breadcrumb .breadcrumb-item:last-child button {
 color: black !important;
 font-weight: bold;
}

.deleted-clr {
 background-color: rgba(0, 0, 0, 0.1) !important;
}

.private-bucket-indicator {
 position: absolute;
 bottom: 36px;
 right: 18px
}

.description-width {
 width: 85%;
}

.margin-left-home-search {
 margin-left: 6px !important;
}

.clr-input-width {
  width: 50px !important;
}

.select-width {
  width: 130px !important;
}

.tag-align {
  position: relative;
  top: -2px;
}

.permissions-color {
  color: var(--gold);
  border-color: var(--gold);
}

.revoke-perm-icon {
  transform: scale(1.3);
}

.lambda-icon {
  width: 13px;
  filter: sepia(100);
}

@media only screen and (max-width: 574px) {
 .margin-left-home-search {
   margin-left: 0px !important;
 }
}
