.avatar-icon-width {
   width: 150px;
   height: 150px;
   position: relative;
   left: 50%;
   transform: translate(-50%);
   display: grid;
   place-items: center;
   background-color: var(--latte);
}

.avatar-icon-width div {
   font-size: 60px;
}

.user-page-body {
   background-color: var(--latte);
   min-height: 100vh;
   padding-bottom: 40px;
}

.no-arrow {
   -moz-appearance: textfield;
 }

 .no-arrow::-webkit-inner-spin-button {
   display: none;
 }
 
 .no-arrow::-webkit-outer-spin-button,
 .no-arrow::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 


