.avatar-icon-width {
   width: 150px;
}

.github-icon-color {
   color: #333333
}

.twitter-icon-color {
   color: #55acee
}

.instagram-icon-color {
   color: #ac2bac
}

.facebook-icon-color {
   color: #3b5998
}