.navMenuProfile {
   background-color: var(--mate-black);
   width: 250px;
   height: 22vh;
   display: flex;
   justify-content: center;
   position: fixed;
   top: -100%;
   right: 0;
   transition: 850ms;
   margin: 4px;
   box-shadow: 0 10px 30px 0 var(--mate-black);
 }
 .navMenuProfile.active {
   right: 0;
   transition: 350ms;
   border-radius: 1rem;
   top: 8%;
 }
 .navbarToggleProfile {
  background-color: var(--mate-black);
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
 .profile {
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
  color: var(--mate-black);
 }
.profile a {
 color: var(--smoke);
 margin-right: -1rem;
 }
.profile a:hover {
  color: var(--smoke);
 }