* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --smoke: #c4c3c3;
  --latte: #ebe7e8;
  --gold: #ad953e;
  --mate-black: #2C2F33;
  --header-height: 2.5rem;
  --nav-width: 68px;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
.custom-btn-action {
  width: 6rem;
  background-color: var(--mate-black);
  color: var(--latte);
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.custom-btn {
  width: 6rem;
  color: var(--mate-black);
  background-color: var(--latte);
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.custom-btn:hover {
  color: var(--latte);
  background-color: var(--mate-black);
}

