 .logo-image-brand {
   width: 60px;
   filter: brightness(80);
 }
 .brand {
   color: var(--smoke);
   margin-top: auto;
 }
 .logo {
   color: var(--smoke);
   margin-left: 2.5rem;
   position: absolute;
   margin-top: 22rem;
 }

 .navMenuItems {
   width: 100%;
 }
 .navbarToggle {
   background-color: var(--mate-black);
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }
 @media only screen and (max-width: 600px) {
 
  .nav-menu span {
    display: none;
  } 

  .logoImage {
    display: none;
  }
  .menuBarsSidebars svg {
    margin-left:-30px ;
  }
  .nav-menu.active>ul>li {
  margin-left:-10px ;
  }
  .menuBars {
    margin-left: 0;
  }
  .nav-text a:hover {
    background-color: transparent;
    color: var(--smoke);  
  }
}

  