.nav {
   background-color: var(--mate-black);
 } 
 .logoImageBrand {
   width: 60px;
   filter: brightness(80);
   margin-right: -15px;
 }
 .brand {
   color: var(--smoke);
   margin-top: auto;
 }
 .menuBars {
   font-size: 1.7rem;
   color: var(--smoke);
 }
 .menuBars:hover {
  color: var(--smoke);
 }
 .menuBarsSidebars {
   margin-left: 80%;
   font-size: 2rem;
   background: none;
   color: var(--smoke);
 }
 .menuBarsSidebars:hover {
  color: var(--smoke);
 }
 .navMenu {
   background-color: var(--mate-black);
   width: 300px;
   height: 100vh;
   display: flex;
   position: fixed;
   top: 0;
   left: -100%;
   transition: 850ms;
   z-index: 4;
 }
 .navMenu.active {
   left: 0;
   transition: 350ms;
 }
 .nav-text {
   display: flex;
   justify-content: flex-start;
   list-style: none;
   height: 50px;
   margin-left: -32px;
 }
 .logo {
   color: var(--smoke);
   margin-left: 2.5rem;
   position: absolute;
   margin-top: 22rem;
 }
 .logoImage {
   position: relative;
   margin-top: 16rem;
   filter: brightness(100%);
   margin-left: -1.5rem;
   animation: logoRotation 60s linear infinite reverse;
   transform: scale(0.5)
 }
  @keyframes logoRotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
  	}}
 .nav-text a {
   text-decoration: none;
   color: var(--smoke);
   font-size: 18px;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0 10px;
 }
 .nav-text a:hover {
   background-color: var(--smoke);
   color: var(--mate-black);  }
 .navMenuItems {
   width: 100%;
 }
 .navbarToggle {
   background-color: var(--mate-black);
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }
 span {
   margin-left: 16px;
 }
 @media only screen and (max-width: 600px) {
  .navMenu {
    width: 5rem;
  }
  .navMenu span {
    display: none;
  }
  .logoImage {
    display: none;
  }
  .menuBarsSidebars svg {
    margin-left:-30px ;
  }
  .navMenu.active>ul>li {
  margin-left:-10px ;
  }
  .menuBars {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .logoImageBrand {
    display: none;
  }
  .brand {
    display: none;
  }
}
  